.main_ladder {
    border-collapse:collapse;
    border:1px solid black;
}

.main_ladder td, .main_ladder th {
    border:1px solid black;  
    min-width:100px;
    text-align:center;
}

.ask_qty {
    background-color:rgba(0, 0, 255, .15);    
}

.bid_qty {
    background-color:rgba(255, 0, 0, .15);
}
